<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Recipes</a>
            </li>
            <% if(isAuthenticated) { %>
            <li class="main-header__item">
                <a class="<%= path === '/admin/add-foods' ? 'active' : '' %>" href="/admin/add-foods">Add Product
                </a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/admin/foods' ? 'active' : '' %>" href="/admin/foods">Admin Foods
                </a>
            </li>
            <% } %>
        </ul>
        <ul class="main-header__item-list">
            <% if(!isAuthenticated) { %>
            <li class="main-header__item">
                <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Sign Up</a>
            </li>
                <% } else { %>
            <li class="main-header__item">
            <form action="/logout" method="POST">
                <button type="submit">Logout</button>
            </form>
        </li>
        <% } %> 
        </ul>
    </nav>
</header>
